@use "../../../fontsAndVariables" as *;

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.proyectsNavMainContainer {
  position: fixed;
  top: 0px;
  backdrop-filter: blur(5px) brightness(60%);
  z-index: 10;

  .proyectsNavUlTag {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12rem;
    width: 99vw;
    padding: 1.5rem 0rem;

    .prevLinkContainer {
      display: flex;
      justify-content: flex-end;
      min-width: 30vw;
    }

    .nextLinkContainer {
      min-width: 30vw;
    }
  }

  .prevLinkContainer,
  .nextLinkContainer {
    display: flex;
    align-items: flex-end;
  }

  .prevLinkIconContainer,
  .nextLinkIconContainer {
    font-size: 1.7rem;
  }

  .prevLinkIconContainer {
    margin-right: 0.7rem;
    transform: rotate(180deg);
  }

  .nextLinkIconContainer {
    margin-left: 0.7rem;
  }
}

.proyectsNavMainContainerAnimated {
  animation: fade-in 1.5s ease-out;
}

// **********************************************RESPONSIVE

//***********************************HD

@media (min-width: 1920px) {
  .proyectsNavMainContainer {
    .proyectsNavUlTag {
      column-gap: 14rem;
      padding: 1.8rem 0rem;
    }

    .prevLinkIconContainer,
    .nextLinkIconContainer {
      font-size: 2.1rem;
    }
  }
}

@media (min-width: 2560px) {
  .proyectsNavMainContainer {
    .proyectsNavUlTag {
      column-gap: 16rem;
      padding: 2.3rem 0rem;
    }

    .prevLinkIconContainer,
    .nextLinkIconContainer {
      font-size: 3rem;
    }
  }
}

@media (min-width: 3840px) {
  .proyectsNavMainContainer {
    .proyectsNavUlTag {
      column-gap: 23rem;
      padding: 3.3rem 0rem;
    }

    .prevLinkIconContainer,
    .nextLinkIconContainer {
      font-size: 4.1rem;
    }

    .prevLinkIconContainer {
      margin-right: 1rem;
    }

    .nextLinkIconContainer {
      margin-left: 1rem;
    }
  }
}

// ************************************MOBILE

@media (max-width: 600px) {
  .proyectsNavMainContainer {
    .proyectsNavUlTag {
      justify-content: space-around;
      column-gap: 0rem;
      padding: 1rem 0rem;

      .prevLinkContainer,
      .nextLinkContainer {
        display: block;
        min-width: fit-content;
      }
    }

    .prevLinkIconContainer,
    .nextLinkIconContainer {
      font-size: 2.5rem;
    }

    .prevLinkTextContainer,
    .nextLinkTextContainer {
      display: none;
    }
  }
}
