@use "../../../fontsAndVariables" as *;

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.proyectsNavMainContainer {
  position: fixed;
  top: 0px;
  // border: 1px solid white;
  backdrop-filter: blur(5px) brightness(60%);
  z-index: 10;

  .proyectsNavUlTag {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12rem;
    width: 99vw;
    height: 50px;
  }

  .prevLinkContainer {
    position: relative;
    display: flex;

    .prevLinkIconContainer {
      position: absolute;
      bottom: -0.3rem;
      left: -3rem;
      font-size: 2.5rem;
      transform: rotate(180deg);
    }
  }

  .nextLinkContainer {
    position: relative;
    display: flex;

    .nextLinkIconContainer {
      position: absolute;
      top: -0.2rem;
      right: -3rem;
      font-size: 2.5rem;
    }
  }
}

.proyectsNavMainContainerAnimated {
  animation: fade-in 1.5s ease-out;
}
