@use "../../fontsAndVariables" as *;

@keyframes intro-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes longer-intro-fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro-box-glow {
  0% {
    box-shadow: 0 0 0px 0px $blueGlowEffect;
  }
  50% {
    box-shadow: 0 0 7px 3px $blueGlowEffect;
  }
  100% {
    box-shadow: 0 0 0px 0px $blueGlowEffect;
  }
}

.profileMainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 750px;
}

.textContainer {
  width: 600px;

  .paragraph {
    margin-top: 1.6rem;
    font-family: $normalTextFont;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 120%;
    color: $normalTextColor;

    span {
      font-size: 2.4rem;
      color: $highlightedText;
    }
  }

  .paragraphAnimated {
    animation: longer-intro-fade-in 2s linear;
  }
}

.imageContainer {
  overflow: hidden;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  border: 2px solid $iconLightBlueColor;

  .image {
    aspect-ratio: 600/512;
    width: 100%;
    scale: 1.3;
    transform: translateX(-1px) translateY(10px);
  }

  .imageAnimated {
    animation: intro-fade-in 0.5s linear;
  }
}

.imageContainerAnimated {
  animation: intro-box-glow 1s linear;
}

// **********************************************RESPONSIVE

//***********************************HD

@media (min-width: 1920px) {
  .profileMainContainer {
    width: 950px;
  }

  .textContainer {
    width: 780px;

    .paragraph {
      margin-top: 1.9rem;
      font-size: 2.5rem;
      letter-spacing: 1.3px;
      line-height: 130%;

      span {
        font-size: 2.7rem;
      }
    }
  }

  .imageContainer {
    width: 140px;
    height: 140px;
  }
}

@media (min-width: 2560px) {
  .profileMainContainer {
    width: 1350px;
  }

  .textContainer {
    width: 1100px;

    .paragraph {
      margin-top: 2rem;
      font-size: 3.5rem;
      letter-spacing: 2px;

      span {
        font-size: 3.8rem;
      }
    }
  }

  .imageContainer {
    width: 210px;
    height: 210px;
    border: 3px solid $iconLightBlueColor;
  }
}

@media (min-width: 3840px) {
  .profileMainContainer {
    width: 2050px;
  }

  .textContainer {
    width: 1650px;

    .paragraph {
      margin-top: 2.5rem;
      font-size: 4.7rem;

      span {
        font-size: 5.2rem;
      }
    }
  }

  .imageContainer {
    width: 270px;
    height: 270px;
  }
}
