@use "../fontsAndVariables" as *;

.mainTag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 2rem;
}

.sliderSmallAndCommentsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;

  .sliderSmallContainer {
  }

  .commentsViewerContainer {
    width: 40%;
  }
}

.linksAndTechIconsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;

  .linksContainer {
    display: flex;
    column-gap: 5rem;
  }

  .techIconsContainer {
    display: flex;
    column-gap: 1.6rem;
    margin-top: 2.5rem;
  }
}
