@use "../../../fontsAndVariables" as *;

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes prev-image {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes next-image {
  0% {
    left: -100%;
  }
  100% {
    left: -200%;
  }
}

@keyframes tv-noise {
  0% {
    transform: translateX(10%) translateY(-10%);
    opacity: 0.8;
  }
  100% {
    transform: translateX(-10%) translateY(10%);
    opacity: 1;
  }
}

@keyframes image-distortion {
  0% {
    filter: hue-rotate(0deg) brightness(100%) contrast(100%);
    transform: scale(1) skew(0deg);
    opacity: 0.5;
  }
  10% {
    filter: hue-rotate(880deg) brightness(80%) contrast(200%);
    transform: scale(1) skew(0deg);
  }
  21% {
    filter: hue-rotate(880deg) brightness(80%) contrast(100%);
    transform: scale(1) skew(0deg);
  }
  24% {
    filter: hue-rotate(40deg) brightness(30%) contrast(100%);
    transform: scale(1) skew(50deg);
  }

  30% {
    transform: translateY(50px);
  }
  31% {
    transform: translateY(-50px);
  }
  32% {
    transform: translateY(50px);
  }
  33% {
    transform: translateY(-50px);
  }
  34% {
    transform: translateY(50px);
  }
  35% {
    transform: translateY(-50px);
  }
  36% {
    transform: translateY(50px);
  }
  37% {
    transform: translateY(-50px);
  }
  97% {
    transform: translateY(50px);
  }
  98% {
    filter: hue-rotate(0deg) brightness(200%) contrast(90%);
    transform: scale(1) skew(5deg);
  }
  100% {
    filter: hue-rotate(0deg) brightness(100%) contrast(100%);
    transform: scale(1) skew(40deg);
    opacity: 1;
  }
}

@keyframes stop-animations {
  0%,
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.sliderMainFrame {
  position: relative;
  padding: 25px;
  width: 55%;
  background-image: linear-gradient(45deg, #393946, #221f2b);
  border: 2px solid black;
  border-radius: 10px;
  animation: fade-in 1s linear;

  .sliderMainContainer {
    width: 100%;
    aspect-ratio: 800/450;
    overflow: hidden;
    border: 1px solid black;

    .allImagesContainer {
      display: flex;
      position: relative;
      width: 300%;
      height: 100%;
      left: -100%;
    }

    .prevImageAnimation {
      animation: prev-image 1.2s ease-in-out forwards;
    }

    .nextImageAnimation {
      animation: next-image 1.2s ease-in-out forwards;
    }
  }
}

.sliderMainFrame::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/images/backgrounds/asfalt-light.png"); /* Imagen de ruido */
  mix-blend-mode: hard-light; /* Mezcla el ruido con el degradado */
  opacity: 0.7; /* Ajusta la intensidad */
  pointer-events: none;
}

.prevImageMainContainer,
.shownImageMainContainer,
.nextImageMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px) brightness(80%);
}

.tvTurningOn {
  &::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    opacity: 0;
    width: 200%;
    height: 200%;
    background-image: url("/images/backgrounds/bedge-grunge.png");
    background-size: cover;
    z-index: 10;
    pointer-events: none;
    animation:
      tv-noise 0.2s linear infinite both,
      stop-animations 1.5s linear forwards;
  }
}

.imageDistortion {
  animation: image-distortion 1.5s linear;
}

.allButtons {
  cursor: pointer;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 0px;
}

.allImgTags {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prevImgIcon,
.nextImgIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 45%;
  overflow: hidden;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 0px;
  color: white;
  font-size: 6rem;
  background-image: linear-gradient(45deg, #6d6d91, #0a0811);
  box-shadow: 1px 1px 6px 1px rgb(14, 14, 14);
  border: 2px solid black;
  border-radius: 100%;
  transition: all 200ms;

  &:hover {
    filter: drop-shadow(0 0 3px $blueGlowEffect);
    box-shadow: 0px 0px 0px 0px rgb(26, 26, 26);
  }

  &:active {
    background-image: linear-gradient(45deg, #444459, #000000);
    font-size: 5.3rem;
    border: 4px solid black;
    color: rgb(169, 166, 166);
  }
}

.prevImgIcon::before,
.nextImgIcon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/images/backgrounds/asfalt-light.png"); /* Imagen de ruido */
  mix-blend-mode: hard-light; /* Mezcla el ruido con el degradado */
  opacity: 0.8; /* Ajusta la intensidad */
  pointer-events: none;
}

.prevImgIcon {
  left: 0.6rem;
}

.nextImgIcon {
  right: 0.6rem;
}

.sparkAnimated,
.sparkAnimated2 {
  position: absolute;
  z-index: 11;
  pointer-events: none;

  img {
    width: 100%;
  }
}

.sparkAnimated {
  bottom: 4%;
  right: -5%;
  width: 400px;
  transform: rotate(180deg);
}

.sparkAnimated2 {
  bottom: 45%;
  right: -23%;
  width: 250px;
}

// **********************************************RESPONSIVE

//***********************************HD

@media (min-width: 1920px) {
  .sliderMainFrame {
    padding: 30px;
    border: 3px solid black;
    border-radius: 15px;
  }

  .prevImgIcon,
  .nextImgIcon {
    width: 60px;
    height: 60px;
    font-size: 7rem;

    &:hover {
      filter: drop-shadow(0 0 4px $blueGlowEffect);
    }

    &:active {
      font-size: 6.3rem;
    }
  }

  .sparkAnimated {
    bottom: 13%;
    right: 0%;
  }

  .sparkAnimated2 {
    right: -15%;
  }
}

@media (min-width: 2560px) {
  .sliderMainFrame {
    padding: 40px;
    border: 4px solid black;
    border-radius: 20px;
  }

  .prevImgIcon,
  .nextImgIcon {
    width: 75px;
    height: 75px;
    font-size: 8rem;
    box-shadow: 1px 1px 8px 3px rgb(14, 14, 14);

    &:hover {
      filter: drop-shadow(0 0 5px $blueGlowEffect);
    }

    &:active {
      font-size: 7.3rem;
    }
  }

  .sparkAnimated {
    bottom: 13%;
    right: 0%;
  }

  .sparkAnimated2 {
    bottom: 45%;
    right: -15%;
  }
}

@media (min-width: 3840px) {
  .sliderMainFrame {
    padding: 50px;
    border: 4px solid black;
    border-radius: 25px;
  }

  .prevImgIcon,
  .nextImgIcon {
    width: 90px;
    height: 90px;
    font-size: 9.5rem;

    &:active {
      font-size: 8.5rem;
    }
  }

  .sparkAnimated {
    bottom: 14%;
    right: -3%;
    width: 600px;
  }

  .sparkAnimated2 {
    bottom: 45%;
    right: -11%;
    width: 350px;
  }
}

// ************************************MOBILE

@media (max-width: 1200px) {
  .sliderMainFrame {
    width: 75%;
  }

  .sparkAnimated {
    bottom: -50%;
    right: 1%;
    width: 550px;
  }

  .sparkAnimated2 {
    display: none;
  }
}

@media (max-width: 950px) {
  .sliderMainFrame {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .sliderMainFrame {
    width: 100%;
  }

  .sparkAnimated {
    width: 500px;
  }
}

@media (max-width: 550px) {
  .sliderMainFrame {
    padding: 20px;
  }

  .prevImgIcon,
  .nextImgIcon {
    width: 45px;
    height: 45px;
    font-size: 5rem;
    box-shadow: 1px 1px 8px 2px rgb(14, 14, 14);

    &:hover {
      filter: drop-shadow(0 0 3px $blueGlowEffect);
    }

    &:active {
      font-size: 4.3rem;
    }
  }

  .prevImgIcon {
    left: 0.1rem;
  }

  .nextImgIcon {
    right: 0.1rem;
  }

  .sparkAnimated {
    bottom: -75%;
    right: 0%;
    width: 450px;
  }
}

@media (max-width: 431px) {
  .sliderMainFrame {
    padding: 15px;
  }

  .sparkAnimated {
    bottom: -80%;
    width: 400px;
  }
}

@media (max-width: 391px) {
  .sliderMainFrame {
    padding: 10px;
  }

  .sparkAnimated {
    bottom: -70%;
    right: 0%;
    width: 350px;
  }
}
