@use "../../fontsAndVariables" as *;

.pTag {
  font-family: $normalTextFont;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 120%;
  color: $normalTextColor;
}

// **********************************************RESPONSIVE

//***********************************HD

@media (min-width: 1920px) {
  .pTag {
    font-size: 2rem;
  }
}

@media (min-width: 2560px) {
  .pTag {
    font-size: 2.8rem;
  }
}

@media (min-width: 3840px) {
  .pTag {
    font-size: 4.3rem;
  }
}
