@use "../../../fontsAndVariables" as *;

@keyframes textGlow {
  0% {
    filter: drop-shadow(0 0 0px $blueGlowEffect);
  }
  10% {
    filter: drop-shadow(0 0 10px $blueGlowEffect);
  }
  100% {
    filter: drop-shadow(0 0 0px $blueGlowEffect);
  }
}

@keyframes flashEffect {
  0% {
    filter: drop-shadow(0 0 0px $blueGlowEffect);
    scale: 0;
  }
  10% {
    filter: drop-shadow(0 0 10px $blueGlowEffect);
    scale: 1;
  }
  100% {
    filter: drop-shadow(0 0 0px $blueGlowEffect);
    scale: 0;
  }
}

.normalLetterContainer {
  position: relative;
  color: $orangeText;
  font-size: 3rem;
  font-family: $titlesTextFont;
  animation: textGlow 1s 0.05s linear;
}

.flashEffectContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: rgba(237, 240, 247, 0.9);
  animation: flashEffect 0.2s linear forwards;
}

// **********************************************RESPONSIVE

@media (min-width: 1920px) {
  .normalLetterContainer {
    font-size: 3.5rem;
  }
}

@media (min-width: 2560px) {
  .normalLetterContainer {
    font-size: 5rem;
  }
}

@media (min-width: 3840px) {
  .normalLetterContainer {
    font-size: 7rem;
  }
}
