@use "../../../fontsAndVariables" as *;

@keyframes intro-drop-glow {
  0% {
    filter: drop-shadow(0 0 0px $blueGlowEffect);
    opacity: 0;
  }
  50% {
    filter: drop-shadow(0 0 5px $blueGlowEffect);
    opacity: 1;
  }
  100% {
    filter: drop-shadow(0 0 0px $blueGlowEffect);
  }
}

.h2Tag {
  font-family: $titlesTextFont;
  font-weight: 900;
  font-size: 4rem;
  color: $titlesTextColor;

  span {
    color: $blueGlowEffect;
  }
}
.h2tagAnimated {
  animation: intro-drop-glow 1s linear;
}

// **********************************************RESPONSIVE

//***********************************HD

@media (min-width: 1920px) {
  .h2Tag {
    font-size: 4.6rem;
  }
}

@media (min-width: 2560px) {
  .h2Tag {
    font-size: 5.5rem;
  }
}

@media (min-width: 3840px) {
  .h2Tag {
    font-size: 8rem;
  }
}

//***********************************LOWER RESOLUTIONS

@media (max-width: 800px) {
  .h2Tag {
    font-size: 3.6rem;
  }
}

@media (max-width: 650px) {
  .h2Tag {
    font-size: 3.4rem;
  }
}

@media (max-width: 450px) {
  .h2Tag {
    font-size: 2.7rem;
  }
}
