@use "../../../fontsAndVariables" as *;

@keyframes intro-drop-glow {
  0% {
    filter: drop-shadow(0 0 0px $blueGlowEffect);
    opacity: 0;
  }
  50% {
    filter: drop-shadow(0 0 5px $blueGlowEffect);
    opacity: 1;
  }
  100% {
    filter: drop-shadow(0 0 0px $blueGlowEffect);
  }
}

.h1Tag {
  font-family: $titlesTextFont;
  font-weight: 900;
  font-size: 5rem;
  color: $alienSymbolsColor;

  span {
    color: $blueGlowEffect;
  }
}
.h1tagAnimated {
  animation: intro-drop-glow 1s linear;
}

// **********************************************RESPONSIVE

//***********************************HD

@media (min-width: 2560px) {
  .h1Tag {
    font-size: 7rem;
  }
}

@media (min-width: 3840px) {
  .h1Tag {
    font-size: 9rem;
  }
}

// ************************************MOBILE

@media (max-width: 1500px) {
  .h1Tag {
    font-size: 4.5rem;
  }
}

@media (max-width: 800px) {
  .h1Tag {
    font-size: 4rem;
  }
}

@media (max-width: 450px) {
  .h1Tag {
    font-size: 3.2rem;
  }
}
