@use "../../../fontsAndVariables" as *;

@keyframes border-glow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes text-glow {
  0% {
    filter: drop-shadow(0 0 0px $orangeGlowEffect);
  }
  50% {
    filter: drop-shadow(0 0 5px $orangeGlowEffect);
  }
  100% {
    filter: drop-shadow(0 0 0px $orangeGlowEffect);
  }
}

@keyframes reduce-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.mainContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background: $backgroundContainer;
  overflow: hidden;
  user-select: none;
  transition: scale 200ms;

  &:hover {
    scale: 1.1;

    .contentAnimated {
      animation: text-glow 1.5s infinite linear;
    }
  }
}

.mainContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scale: 4;
  border-radius: 5px;
  background: conic-gradient(
    from 0deg,
    rgb(83, 74, 37) 0%,
    rgb(83, 74, 37) 37%,
    $orangeGlowEffect 40%,
    $orangeGlowEffect 44%,
    rgb(83, 74, 37) 47%,
    rgb(83, 74, 37) 85%,
    $orangeGlowEffect 88%,
    $orangeGlowEffect 92%,
    rgb(83, 74, 37) 95%
  );
  background-size: 100% 100%;
  animation: border-glow 3s infinite linear;
  z-index: 1;
}

.mainContainer::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: $backgroundContainer;
  border-radius: 5px;
  z-index: 2;
}

.animatedOutro {
  animation: reduce-scale 0.5s forwards ease-in;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $orangeText;
  font-size: 2rem;
  font-weight: 500;
  font-family: $buttonTextFont;
  z-index: 3;
}
