@use "../../../fontsAndVariables" as *;

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mainNavMainContainer {
  position: fixed;
  top: 0px;
  backdrop-filter: blur(5px) brightness(60%);
  z-index: 10;

  .mainNavUlTag {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10rem;
    width: 99vw;
    padding: 1.5rem 0rem;
  }
}

.mainNavMainContainerAnimated {
  animation: fade-in 1.5s ease-out;
}

// **********************************************RESPONSIVE

//***********************************HD

@media (min-width: 1920px) {
  .mainNavMainContainer {
    .mainNavUlTag {
      column-gap: 14rem;
      padding: 1.8rem 0rem;
    }
  }
}

@media (min-width: 2560px) {
  .mainNavMainContainer {
    .mainNavUlTag {
      column-gap: 16rem;
      padding: 2.3rem 0rem;
    }
  }
}

@media (min-width: 3840px) {
  .mainNavMainContainer {
    .mainNavUlTag {
      column-gap: 23rem;
      padding: 3.3rem 0rem;
    }
  }
}

// ************************************MOBILE

@media (max-width: 600px) {
  .mainNavMainContainer {
    .mainNavUlTag {
      display: flex;
      justify-content: space-around;
      align-items: center;
      column-gap: 0rem;
      padding: 1rem 0rem;
    }
  }
}
