@use "../../../fontsAndVariables" as *;

.alienLetterContainer {
  display: inline-block;
  width: 1.2rem;
  color: #87ebb4;
  font-size: 2rem;
  font-family: $titlesTextFont;
  filter: drop-shadow(0 0 7px #87ebb4);
}

// Esta clase sólo se aplica si la prop forMainPage es true
.alienLetterContForMainPage {
  font-size: 2rem;
}

// **********************************************RESPONSIVE

//***********************************HD

@media (min-width: 1920px) {
  .alienLetterContainer {
    font-size: 2.3rem;
  }

  .alienLetterContForMainPage {
    width: 1.8rem;
    font-size: 2.6rem;
  }
}

@media (min-width: 2560px) {
  .alienLetterContainer {
    width: 2.3rem;
    font-size: 3.5rem;
  }

  .alienLetterContForMainPage {
    width: 3rem;
    font-size: 4rem;
  }
}

@media (min-width: 3840px) {
  .alienLetterContainer {
    width: 3.3rem;
    font-size: 5rem;
  }

  .alienLetterContForMainPage {
    width: 5rem;
    font-size: 6.5rem;
  }
}

//***********************************LOWER RESOLUTIONS

@media (max-width: 700px) {
  .alienLetterContForMainPage {
    width: 1rem;
    font-size: 1.7rem;
  }
}

@media (max-width: 590px) {
}

@media (max-width: 520px) {
  .alienLetterContForMainPage {
    width: 0.7rem;
    font-size: 1.3rem;
  }
}

@media (max-width: 380px) {
  .alienLetterContForMainPage {
    width: 0.7rem;
    font-size: 1.3rem;
  }
}
