@use "../../fontsAndVariables" as *;

@keyframes lineAnim {
  0% {
    opacity: 0;
    width: 0%;
    height: 0px;
  }
  5% {
    height: 3px;
  }
  10% {
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 3px;
    opacity: 1;
  }
}

.animatedLine {
  width: 100%;
  height: 3px;
  border-radius: 15px;
  background-color: rgb(146, 196, 242);
  filter: drop-shadow(0 0 6px $blueGlowEffect);
  animation: lineAnim ease-in-out forwards 2s;
}
