@import url("https://fonts.googleapis.com/css2?family=Strait&display=swap");
//  font-family: "Strait", sans-serif;

// FUENTES
$titlesTextFont: "Strait", sans-serif;
$normalTextFont: "Strait", sans-serif;
$buttonTextFont: "Strait", sans-serif;

// COLORES
$titlesTextColor: rgb(237, 240, 247);
$normalTextColor: rgb(237, 240, 247);
$buttonTextColor: rgb(237, 240, 247);
$orangeText: #fddd5c;
$alienSymbolsColor: #87ebb4;

$iconLightBlueColor: rgb(237, 240, 247);

$backgroundBody: rgb(12, 17, 40);
$backgroundContainer: #242c39;

$blueGlowEffect: #00ffff;
$orangeGlowEffect: #ffcc00;
