@import url("https://fonts.googleapis.com/css2?family=Strait&display=swap");
//  font-family: "Strait", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// font-family: "Kanit", sans-serif;

// FUENTES
$titlesTextFont: "Strait", sans-serif;
$normalTextFont: "Kanit", sans-serif;
$buttonTextFont: "Strait", sans-serif;

// COLORES
$titlesTextColor: rgb(237, 240, 247);
$normalTextColor: rgb(237, 240, 247);
$buttonTextColor: rgb(237, 240, 247);
$orangeText: #fddd5c;
$highlightedText: #fddd5c;
$alienSymbolsColor: #87ebb4;

$iconLightBlueColor: rgb(237, 240, 247);

$backgroundBody: rgb(12, 17, 40);
$backgroundContainer: #242c39;

$blueGlowEffect: #00ffff;
$orangeGlowEffect: #ffcc00;
