@use "./fontsAndVariables" as *;

.mainTag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 2rem;
}

.headerTag {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mainLetterTranslatorContainer {
    overflow: hidden;
    height: 6.5rem;
  }

  .skipAnimationButtonPositioner {
    position: absolute;
    top: 3vh;
    right: 10vw;
  }

  .mainButtonsContainer {
    display: flex;
    column-gap: 4rem;
    margin-top: 5rem;
  }
}

.profilePositioner {
  margin-top: 10rem;
}

.animatedLinePositioner {
  width: 80%;
  margin-top: 10rem;
}
