@use "./fontsAndVariables" as *;

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mainTag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 2rem;
}

.headerTag {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mainLetterTranslatorContainer {
    overflow: hidden;
    height: 6.5rem;
  }

  .skipAnimationButtonPositioner {
    position: absolute;
    top: 3vh;
    right: 10vw;
  }
}

.profilePositioner {
  margin-top: 10rem;
}

.mainButtonsContainer {
  display: flex;
  column-gap: 4rem;
  width: 100%;
  margin: 2rem 0rem 0rem 2rem;
}

.animatedLinePositioner {
  width: 80%;
  margin-top: 12rem;
}

.fadeInAnimation {
  animation: fade-in 2s linear;
}

.sectionsCommonStyles {
  width: 80%;
  margin-top: 2rem;
  padding-left: 2rem;
}

.projectsSectionContainer {
  background: radial-gradient(
    ellipse at 50% 50%,
    rgba(80, 116, 146, 0.6),
    rgb(8, 11, 26) 60%
  );

  .proyectCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
    width: 100%;
    margin: 3rem 0rem;
    padding: 3rem;
  }
}

// .techSectionContainer {
// }
