@import "./reset.css";

/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
/* font-family: "Fugaz One", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Strait&display=swap");
/* font-family: "Strait", sans-serif; */

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  font-size: 1.6rem;
  background: radial-gradient(
    circle at 45% -120%,
    rgba(138, 198, 248, 0.6),
    rgb(8, 11, 26) 70%
  );
  background-color: rgb(12, 17, 40);
}
