@use "../../../fontsAndVariables" as *;

.proyectCardImageMainContainer {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  padding: 1.5rem 0rem;
  border-radius: 15px 15px 0 0;
  background: radial-gradient(
    ellipse at 50% 50%,
    rgb(95, 165, 234),
    rgb(29, 34, 63) 90%
  );

  .moreDetailsContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 100%;
    height: 100%;
    color: $orangeText;
    font-family: $titlesTextFont;
    font-size: 2.4rem;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.68);
    transition: all 650ms;
    z-index: 4;

    p {
      filter: drop-shadow(0px 0px 3px $orangeGlowEffect);
    }

    .iconContainer {
      font-size: 3.5rem;
    }
  }

  .image {
    width: 90%;
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px $blueGlowEffect;
    transition: all 1.5s;
    z-index: 3;
  }

  &:hover {
    .moreDetailsContainer {
      opacity: 1;
    }

    .image {
      scale: 1.2;
    }
  }
}

// **********************************************RESPONSIVE

//***********************************HD

@media (min-width: 1920px) {
  .proyectCardImageMainContainer {
    .moreDetailsContainer {
      font-size: 3rem;

      .iconContainer {
        font-size: 4rem;
      }
    }
  }
}

@media (min-width: 2560px) {
  .proyectCardImageMainContainer {
    .moreDetailsContainer {
      font-size: 4rem;

      .iconContainer {
        font-size: 5rem;
      }
    }
  }
}

@media (min-width: 3840px) {
  .proyectCardImageMainContainer {
    .moreDetailsContainer {
      font-size: 5.5rem;

      .iconContainer {
        font-size: 6.5rem;
      }
    }
  }
}

//***********************************LOWER RESOLUTIONS

@media (max-width: 650px) {
  .proyectCardImageMainContainer {
    .image {
      box-shadow: 0px 0px 5px 1px $blueGlowEffect;
    }
  }
}

//*********************************** TOUCH SCREENS

@keyframes magnifying_glass_pulsating {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.3;
  }
}

@media (hover: none) and (pointer: coarse) {
  .proyectCardImageMainContainer {
    .moreDetailsContainer {
      position: absolute;
      top: 80%;
      left: 70%;
      flex-direction: row;
      justify-content: flex-start;
      opacity: 1;
      width: 100%;
      height: 120%;
      transform: rotate(45deg);
      background-color: rgba(0, 0, 0, 0.68);

      p {
        display: none;
      }

      .iconContainer {
        transform: rotate(-45deg);
        margin: 0rem 0rem 1.5rem 1.5rem;
        filter: drop-shadow(0px 0px 7px $orangeGlowEffect);
        animation: magnifying_glass_pulsating 1s linear alternate infinite;
      }
    }
  }
}
