@use "../../../fontsAndVariables" as *;

.proyectCardImageMainContainer {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  padding: 1.5rem 0rem;
  border-radius: 15px 15px 0 0;
  background: radial-gradient(
    ellipse at 50% 50%,
    rgb(95, 165, 234),
    rgb(29, 34, 63) 90%
  );

  .image {
    width: 90%;
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px $blueGlowEffect;
    transition: all 350ms;

    &:hover {
      scale: 1.2;
    }
  }
}
