@use "../../../fontsAndVariables" as *;

@keyframes loadingIconAnim {
  0% {
    transform: translate(2500%, 500%) scale(14);
  }
  20% {
    transform: translate(2500%, 500%) scale(14);
  }
  100% {
    transform: translate(-70%, 40%) scale(0);
  }
}

@keyframes lineAnim {
  0% {
    opacity: 0;
    width: 0%;
    height: 0px;
  }
  64% {
    width: 0%;
    height: 0px;
  }
  65% {
    height: 3px;
  }
  70% {
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 3px;
    opacity: 1;
  }
}

@keyframes textAnim {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 2rem;

  .textContainer {
    padding: 0rem 3rem 0rem 3rem;
    text-align: center;
    z-index: 3;
  }

  .text {
    opacity: 1;
    margin-bottom: -1.2rem;
    color: $titlesTextColor;
    font-size: 6.5rem;
    letter-spacing: 1.5px;
    font-family: $titlesTextFont;
  }

  .textAnimation {
    animation: textAnim ease-in-out 6.3s;
  }

  .iconContainer {
    width: 10px;
    height: 10px;
    transform: translate(-70%, 40%) scale(0);
    filter: drop-shadow(0 0 1px $blueGlowEffect);
    z-index: 1;
  }

  .iconContainerAnimation {
    animation: loadingIconAnim ease-in-out 4s;
  }

  .animatedLine {
    opacity: 1;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    border-radius: 15px;
    background-color: rgb(146, 196, 242);
    filter: drop-shadow(0 0 6px $blueGlowEffect);
    z-index: 0;
  }

  .animatedLineAnimation {
    animation: lineAnim ease-in-out 6.3s;
  }
}
