@use "../../../fontsAndVariables" as *;

@keyframes loadingIconAnim {
  0% {
    transform: translate(2500%, 500%) scale(14);
  }
  20% {
    transform: translate(2500%, 500%) scale(14);
  }
  100% {
    transform: translate(-70%, 40%) scale(0);
  }
}

@keyframes lineAnim {
  0% {
    opacity: 0;
    width: 0%;
    height: 0px;
  }
  64% {
    width: 0%;
    height: 0px;
  }
  65% {
    height: 3px;
  }
  70% {
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 3px;
    opacity: 1;
  }
}

@keyframes textAnim {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 2rem;

  .textContainer {
    padding: 0rem 3rem 0rem 3rem;
    text-align: center;
    z-index: 3;
  }

  .text {
    opacity: 1;
    margin-bottom: -1.2rem;
    color: $titlesTextColor;
    font-size: 6.5rem;
    letter-spacing: 1.5px;
    font-family: $titlesTextFont;
  }

  .textAnimation {
    animation: textAnim ease-in-out 6.3s;
  }

  .iconContainer {
    width: 10px;
    height: 10px;
    transform: translate(-70%, 40%) scale(0);
    filter: drop-shadow(0 0 1px $blueGlowEffect);
    z-index: 1;
  }

  .iconContainerAnimation {
    animation: loadingIconAnim ease-in-out 4s;
  }

  .animatedLine {
    opacity: 1;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    border-radius: 15px;
    background-color: rgb(146, 196, 242);
    filter: drop-shadow(0 0 6px $blueGlowEffect);
    z-index: 0;
  }

  .animatedLineAnimation {
    animation: lineAnim ease-in-out 6.3s;
  }
}

// **********************************************RESPONSIVE

//***********************************HD

@media (min-width: 1920px) {
  @keyframes lineAnim {
    0% {
      opacity: 0;
      width: 0%;
      height: 0px;
    }
    64% {
      width: 0%;
      height: 0px;
    }
    65% {
      height: 4px;
    }
    70% {
      opacity: 1;
    }
    100% {
      width: 100%;
      height: 4px;
      opacity: 1;
    }
  }

  .mainContainer {
    .text {
      font-size: 8.5rem;
      margin-bottom: -1.8rem;
    }

    .iconContainer {
      width: 15px;
      height: 15px;
    }

    .animatedLine {
      height: 4px;
    }
  }
}

@media (min-width: 2560px) {
  @keyframes lineAnim {
    0% {
      opacity: 0;
      width: 0%;
      height: 0px;
    }
    64% {
      width: 0%;
      height: 0px;
    }
    65% {
      height: 5px;
    }
    70% {
      opacity: 1;
    }
    100% {
      width: 100%;
      height: 5px;
      opacity: 1;
    }
  }

  .mainContainer {
    .text {
      font-size: 13rem;
      margin-bottom: -2.7rem;
    }

    .iconContainer {
      width: 20px;
      height: 20px;
    }

    .animatedLine {
      height: 5px;
    }
  }
}

@media (min-width: 3840px) {
  @keyframes lineAnim {
    0% {
      opacity: 0;
      width: 0%;
      height: 0px;
    }
    64% {
      width: 0%;
      height: 0px;
    }
    65% {
      height: 7px;
    }
    70% {
      opacity: 1;
    }
    100% {
      width: 100%;
      height: 7px;
      opacity: 1;
    }
  }

  .mainContainer {
    .text {
      font-size: 21rem;
      margin-bottom: -3.8rem;
    }

    .iconContainer {
      width: 25px;
      height: 25px;
    }

    .animatedLine {
      height: 7px;
    }
  }
}

//***********************************LOWER RESOLUTIONS

@media (max-width: 700px) {
  .mainContainer {
    .text {
      font-size: 5.5rem;
      margin-bottom: -1.2rem;
    }
  }
}

@media (max-width: 590px) {
  @keyframes lineAnim {
    0% {
      opacity: 0;
      width: 0%;
      height: 0px;
    }
    64% {
      width: 0%;
      height: 0px;
    }
    65% {
      height: 2px;
    }
    70% {
      opacity: 1;
    }
    100% {
      width: 100%;
      height: 2px;
      opacity: 1;
    }
  }

  .mainContainer {
    .textContainer {
      padding: 0rem 2rem 0rem 2rem;
    }

    .text {
      font-size: 4.5rem;
      margin-bottom: -1rem;
    }

    .iconContainer {
      width: 8px;
      height: 8px;
    }

    .animatedLine {
      height: 2px;
    }
  }
}

@media (max-width: 520px) {
  .mainContainer {
    .textContainer {
      padding: 0rem 1.7rem 0rem 1.7rem;
    }

    .text {
      font-size: 3.5rem;
      margin-bottom: -0.7rem;
    }

    .iconContainer {
      width: 6px;
      height: 6px;
    }
  }
}

@media (max-width: 380px) {
  .mainContainer {
    .textContainer {
      padding: 0rem 1.5rem 0rem 1.5rem;
    }

    .text {
      font-size: 3.1rem;
      margin-bottom: -0.6rem;
    }

    .iconContainer {
      width: 5px;
      height: 5px;
    }
  }
}
