@keyframes loadingIconAnim {
  0% {
    transform: translate(2500%, -500%) scale(14);
  }
  100% {
    transform: translate(-70%, 40%) scale(0);
  }
}

@keyframes lineAnim {
  0% {
    opacity: 0;
    width: 0%;
    height: 0px;
  }
  5% {
    height: 3px;
  }
  10% {
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 3px;
    opacity: 1;
  }
}

@keyframes textAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 5rem;

  .textContainer {
    padding: 0rem 4rem 0rem 4rem;
    text-align: center;
    z-index: 3;
  }

  .text {
    opacity: 0;
    margin-bottom: -1.2rem;
    color: rgb(237, 240, 247);
    font-size: 5rem;
    letter-spacing: 1.5px;
    font-family: "Strait", sans-serif;
    animation: textAnim ease-in-out forwards 2.5s 3.8s;
  }

  .iconContainer {
    width: 10px;
    height: 10px;
    transform: translate(2500%, -500%) scale(14);
    filter: drop-shadow(0 0 1px #00ffff);
    animation: loadingIconAnim ease-in-out forwards 2.5s 1.5s;
    z-index: 1;
  }

  .animatedLine {
    opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 0px;
    border-radius: 15px;
    background-color: rgb(146, 196, 242);
    filter: drop-shadow(0 0 6px #00ffff);
    animation: lineAnim ease-in-out forwards 2.5s 3.8s;
    z-index: 0;
  }
}
